#aligxilo dd {
    font-weight: normal;
}

#aligxilo input[type=checkbox] {
    width: auto;
    margin-left: 1em;
}

#_kotizo {
    padding: 2em;
    height: 100%;
    background-color: #82b440;
    color: white;
    box-shadow: 3px 3px 15px silver;
}

@media only screen and (min-width : 768px){
    #_kotizo {
        position: fixed;
        left: 0;
    }
}

.plendu {
    padding: 5px;
    text-align: right;
}

.error {
    color: #ff0000;
}

dd { margin-left: 2em; }

.titolo {
    font-size: 5em;
    font-weight: bold;
    color: #82b440;
    margin-top: 3rem;
}

label {
    font-weight: normal;
}

.required {
    /*color: #82b440;*/

}