@(implicit form: pl.pej.malpompaaligxilo.jes2015.Jes2015Aligxilo)
@import pl.pej.malpompaaligxilo.templates.html.fieldvalue
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JES 2015 Aliĝilo</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("jquery-ui-1.11.2.custom/jquery-ui.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jes2015.css")" />
    </head>
    <body style="margin: 15px;">
<h1>
Saluton! Dankon por via aliĝo al JES en Eger, Hungario!
</h1>
<h3>Sube vi vidas viajn datumojn. Bv. relegi kaj nepre skribu al @Html("jes@pej.pl") se io ne ĝustas, aŭ intertempe ŝanĝiĝas viaj mendoj.
Tion vi povas fari ĝis la 1-a de decembro.<br/>
Se vi ne ricevis konfirmon de la aliĝo, bv. kontroli vian retpoŝtan spamujon!<br/>
Amike,<br/>
la teamo de JES</h3>

    <h1>Personaj datumoj</h1>
@fieldvalue(form.personaNomo)
@fieldvalue(form.familiaNomo)
@fieldvalue(form.kromnomo)
@fieldvalue(form.naskigxdato)
@fieldvalue(form.sub18)
@fieldvalue(form.genro)
@fieldvalue(form.retposxtadreso)
@fieldvalue(form.tujmesagxilo)
@fieldvalue(form.telefonnumero)
@fieldvalue(form.lando)
@fieldvalue(form.adreso)
@fieldvalue(form.studento)
@fieldvalue(form.studentoFako)
@fieldvalue(form.invitilo)
@fieldvalue(form.pasportnumero)
@fieldvalue(form.pasportovalideco)
@fieldvalue(form.invitiloAdreso)
@fieldvalue(form.adresaro)

    <h1>Loĝado</h1>
@fieldvalue(form.logxado)
@fieldvalue(form.logxadoGea)
@fieldvalue(form.logxadoPrefero)
@fieldvalue(form.logxadoKun)
@fieldvalue(form.cxeesto)
@fieldvalue(form.cxeestoElekto)

    <h1>Manĝado</h1>
@fieldvalue(form.matenmangxoj)
@fieldvalue(form.tagmangxoj)
@fieldvalue(form.vespermangxoj)
@fieldvalue(form.mangxadoBalo)
@fieldvalue(form.matenmangxoPrefero)
@fieldvalue(form.mangxtipo)
@fieldvalue(form.mangxtipoKlarigo)
@fieldvalue(form.mangxtipo2)

<h1>Pagado</h1>
@fieldvalue(form.pagado)
@fieldvalue(form.donacoKvoto)
@fieldvalue(form.donacoKialo)
@fieldvalue(form.donacoKialoKlarigo)
@fieldvalue(form.kotizo)
@fieldvalue(form.miPagos)
@fieldvalue(form.miPagosGxis)
@fieldvalue(form.miPagosGxisAlt)
@fieldvalue(form.komento)

    <h1>Dum la aranĝo</h1>
@fieldvalue(form.ludejoKontribuo)
@fieldvalue(form.ludiMuzikilon)
@fieldvalue(form.kielLudos)
@fieldvalue(form.muzikgrupoNomo)
@fieldvalue(form.miKunportos)
@fieldvalue(form.dejxoriHelpo)
@fieldvalue(form.gxeneralaHelpado)
@fieldvalue(form.programkontribuo)
    </body>
</html>