@(implicit form: pl.pej.malpompaaligxilo.jes2015.Jes2015Aligxilo, lang: pl.pej.malpompaaligxilo.util.Lang = "eo", poCfg: pl.pej.malpompaaligxilo.util.PoCfg)
@import views.html.malpompaaligxilo.field
@import views.html.malpompaaligxilo.i18n
<!DOCTYPE html>
<html lang="@lang">
    <head>
        <meta charset="UTF-8">
        <title>JES 2015 Aliĝilo</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("jquery-ui-1.11.2.custom/jquery-ui.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jes2015.css")" />
        <style type="text/css">
            .ui-datepicker-title select {
                color: #000
            }
        </style>
    </head>
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("jquery-ui-1.11.2.custom/jquery-ui.min.js")"></script>

        @{
            lang match {
                case "eo" =>
                    Html(s"""<script type="text/javascript" src="${routes.Assets.at("jquery-ui-1.11.2.custom/i18n/datepicker-eo.js")}"></script>""")
                case "pl" =>
                    Html(s"""<script type="text/javascript" src="${routes.Assets.at("jquery-ui-1.11.2.custom/i18n/datepicker-pl.js")}"></script>""")
                case "hu" =>
                    Html(s"""<script type="text/javascript" src="${routes.Assets.at("jquery-ui-1.11.2.custom/i18n/datepicker-hu.js")}"></script>""")
                case _ =>
            }
        }

        <script type="text/javascript">
        $(function(){
            $('input[type=text].formDate' ).each(function() {
            $(this).datepicker({
                "dateFormat": "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                minDate: $(this).data("mindate"),
                maxDate: $(this).data("maxdate"),
                yearRange: $(this).data("yearrange")
                });
            });
        })
        </script>
        <script type="text/javascript" src="/assets/javascripts/jes2015-fastopt.js"></script>
        @jes2015po()
        <div id="lingvoj"><a href="@routes.JES2015.index("eo")">Esperanto</a> | <a href="@routes.JES2015.index("hu")">magyar</a> | <a href="@routes.JES2015.index("pl")">polski</a></div>
        <p class="titolo text-center">JES 2015</p>
        @if(form.hasErrors) {
            <div class="error text-center">@i18n("okazis eraroj dum via aliĝo - bv. korekti ilin")</div>
        }
        <form id="aligxilo" action="@routes.JES2015.submit(lang)" method="post" class="form-horizontal col-sm-offset-4 col-sm-7">
            <div class="row">
                <h1>@i18n("Personaj datumoj")</h1>
            </div>
            @field(form.personaNomo)
            @field(form.familiaNomo)
            @field(form.kromnomo)

            @field(form.naskigxdato)
            @field(form.sub18)
            @field(form.genro)
            @field(form.retposxtadreso)
            @field(form.tujmesagxilo)
            @field(form.vizagxlibro)

            @field(form.telefonnumero)
            @field(form.lando)
            @field(form.adreso)
            @field(form.studento)
            @field(form.studentoFako)
            @field(form.invitilo)
            @field(form.invitiloPersonaNomo)
            @field(form.invitiloFamiliaNomo)
            @field(form.pasportnumero)
            @field(form.pasportoeldondato)
            @field(form.pasportoeldonitade)
            @field(form.pasportovalideco)
            @field(form.invitiloAdreso)

            @field(form.adresaro)
            @field(form.aligxintoj)
            <div class="row">
                <h1>@i18n("Loĝado")</h1>
            </div>
            @field(form.logxado)
            @field(form.logxadoGea)
            @field(form.logxadoPrefero)
            @field(form.logxadoKun)
            @field(form.cxeesto)
            @field(form.cxeestoElekto)
            <div class="row">
                <h1>@i18n("Manĝado")</h1>
            </div>
            @field(form.matenmangxoj)
            @field(form.tagmangxoj)
            @field(form.vespermangxoj)

            @field(form.mangxadoBalo)
            @field(form.matenmangxoPrefero)
            @field(form.mangxtipo)
            @field(form.mangxtipoKlarigo)

            @field(form.mangxtipo2)
            <div class="row">
                <h1>@i18n("Pagado")</h1>
            </div>
            @field(form.pagado)
            @field(form.donacoKvoto)
            @field(form.donacoKialo)
            @field(form.donacoKialoKlarigo)
            @field(form.miPagos)
            <div class="row">
                <h1>@i18n("Dum la aranĝo")</h1>
                <h4>@i18n("JES estas renkontiĝo, kie ricevas centran rolon la kontribuoj de la partoprenantoj. Tiu ĉi renkontiĝo estas por vi. La organizantoj donas la strukturon de la programoj, kaj la partoprenantoj kontribuas al la programeroj dum la semajno ne nur per la ĉeestado. Ni petas vin pripensi kiel vi povas mojosigi la etoson!")</h4>
            </div>
            @field(form.ludejoKontribuo)
            @field(form.ludiMuzikilon)
            @field(form.kielLudos)
            @field(form.muzikgrupoNomo)
            @field(form.miKunportos)
            @field(form.dejxoriHelpo)
            @field(form.gxeneralaHelpado)

            @field(form.programkontribuo)
            <div class="row">
                <h1>@i18n("Komento kaj regularo")</h1>
                <h4><a href="http://jes.pej.pl/2015/?page_id=4">@i18n("La regularo legeblas ĉi tie")</a></h4>
            </div>
            @field(form.komento)

            @field(form.regularo)
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="@i18n("aliĝu!")" name="sendu" class="btn btn-default" />
                </div>
            </div>
        </form>
        <div id="_kotizo" class="col-sm-3">
            <div class="form-group">
                <div class="col-sm-12">
                    <strong>@i18n("Kalkulita kotizo"):</strong>
                    <span data-name="kotizo" class="formExpression"></span>
                    <br><a href="http://jes.pej.pl/2015/?page_id=42">@i18n("Legu pli pri la pagadosistemo ĉi tie.")</a>
                </div>
            </div>
        </div>
        <div class="plendu col-xs-12">Aliĝilo starigita per&nbsp;<em>MalpompaAliĝilo</em>. Bv.&nbsp;sendi plendojn al piotr.holda&nbsp;ĈE&nbsp;pej.pl&nbsp;.</div>
        <script type="text/javascript">
        pl.pej.malpompaaligxilo.jes2015.Jes2015FormJS().main();
        </script>
    </body>
</html>