@(implicit form: pl.pej.malpompaaligxilo.jes2015.Jes2015Aligxilo, lang: pl.pej.malpompaaligxilo.util.Lang = "eo")
@import views.html.malpompaaligxilo.field
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JES 2015 Aliĝilo</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("jquery-ui-1.11.2.custom/jquery-ui.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jes2015.css")" />
        <style type="text/css">
            .ui-datepicker-title select {
                color: #000
            }
        </style>
    </head>
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("jquery-ui-1.11.2.custom/jquery-ui.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("jquery-ui-1.11.2.custom/i18n/datepicker-eo.js")"></script>
        <script type="text/javascript">
        $(function(){
            $('input[type=text].formDate' ).each(function() {
            $(this).datepicker({
                "dateFormat": "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                minDate: $(this).data("mindate"),
                maxDate: $(this).data("maxdate"),
                yearRange: $(this).data("yearrange")
                });
            });
            $.datepicker.regional[ "eo" ];
        })

        </script>

        <script type="text/javascript" src="/assets/javascripts/jes2015-fastopt.js"></script>
        <p class="titolo text-center">JES 2015</p>
        @if(form.hasErrors) {
            <div class="error text-center">okazis eraroj dum via aliĝo - bv. korekti ilin</div>
        }
        <form id="aligxilo" action="@routes.JES2015.submit()" method="post" class="form-horizontal col-sm-offset-4 col-sm-8">
            <div class="row">
                <h1>Personaj datumoj</h1>
            </div>
            @field(form.personaNomo)
            @field(form.familiaNomo)
            @field(form.kromnomo)

            @field(form.naskigxdato)
            @field(form.sub18)
            @field(form.genro)
            @field(form.retposxtadreso)
            @field(form.tujmesagxilo)
            @field(form.vizagxlibro)

            @field(form.telefonnumero)
            @field(form.lando)
            @field(form.adreso)
            @field(form.studento)
            @field(form.studentoFako)
            @field(form.invitilo)
            @field(form.invitiloPersonaNomo)
            @field(form.invitiloFamiliaNomo)
            @field(form.pasportnumero)
            @field(form.pasportoeldondato)
            @field(form.pasportoeldonitade)
            @field(form.pasportovalideco)
            @field(form.invitiloAdreso)

            @field(form.adresaro)
            <div class="row">
                <h1>Loĝado</h1>
            </div>
            @field(form.logxado)
            @field(form.logxadoGea)
            @field(form.logxadoPrefero)
            @field(form.logxadoKun)
            @field(form.cxeesto)
            @field(form.cxeestoElekto)
            <div class="row">
                <h1>Manĝado</h1>
            </div>
            @field(form.matenmangxoj)
            @field(form.tagmangxoj)
            @field(form.vespermangxoj)

            @field(form.mangxadoBalo)
            @field(form.matenmangxoPrefero)
            @field(form.mangxtipo)
            @field(form.mangxtipoKlarigo)

            @field(form.mangxtipo2)
            <div class="row">
                <h1>Pagado</h1>
            </div>
            @field(form.pagado)
            @field(form.donacoKvoto)
            @field(form.donacoKialo)
            @field(form.donacoKialoKlarigo)
            @field(form.miPagos)
            <div class="row">
                <h1>Dum la aranĝo</h1>
                <h4>JES estas renkontiĝo, kie ricevas centran rolon la kontribuoj de la partoprenantoj. Tiu ĉi renkontiĝo estas por vi. La organizantoj donas la strukturon de la programoj, kaj la partoprenantoj kontribuas al la programeroj dum la semajno ne nur per la ĉeestado. Ni petas vin pripensi kiel vi povas mojosigi la etoson!</h4>
            </div>
            @field(form.ludejoKontribuo)
            @field(form.ludiMuzikilon)
            @field(form.kielLudos)
            @field(form.muzikgrupoNomo)
            @field(form.miKunportos)
            @field(form.dejxoriHelpo)
            @field(form.gxeneralaHelpado)

            @field(form.programkontribuo)
            @field(form.programkontribuo)
            <div class="row">
                <h1>Komento kaj regularo</h1>
                @*<h4>Bv. akcepti la regularon</h4>*@
            </div>
            @field(form.komento)

            @field(form.regularo)
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="aliĝu!" name="sendu" class="btn btn-default" />
                </div>
            </div>
        </form>
        <div id="_kotizo" class="col-sm-3">
            <div class="form-group">
                <div class="col-sm-12">
                    <strong>Kalkulita kotizo:</strong>
                    <span data-name="kotizo" class="formExpression"></span>
                </div>
            </div>
        </div>
        <div class="plendu">Aliĝilo starigita per&nbsp;<em>MalpompaAliĝilo</em>. Bv.&nbsp;sendi plendojn al piotr.holda&nbsp;ĈE&nbsp;pej.pl&nbsp;.</div>
        <script type="text/javascript">
        pl.pej.malpompaaligxilo.jes2015.Jes2015FormJS().main();
        </script>
    </body>
</html>