@(form: pl.pej.malpompaaligxilo.jes2015.Jes2015Aligxilo)
@import views.html.malpompaaligxilo.fieldvalue
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JES 2015 Aliĝilo</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("jquery-ui-1.11.2.custom/jquery-ui.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jes2015.css")" />
    </head>
    <body style="margin: 15px;">
<h1>
Saluton! Dankon por via aliĝo al JES en Eger, Hungario!
</h1>
<h3>Sube vi vidas viajn datumojn. Bv. relegi kaj nepre skribu al @Html("jes@pej.pl") se io ne ĝustas, aŭ intertempe ŝanĝiĝas viaj mendoj.
Tion vi povas fari ĝis la 1-a de decembro.<br/>
Se vi ne ricevis konfirmon de la aliĝo, bv. kontroli vian retpoŝtan spamujon!<br/>
Amike,<br/>
la teamo de JES</h3>

    <h1>Personaj datumoj</h1>
@fieldvalue(form, form.personaNomo)
@fieldvalue(form, form.familiaNomo)
@fieldvalue(form, form.kromnomo)
@fieldvalue(form, form.naskigxdato)
@fieldvalue(form, form.sub18)
@fieldvalue(form, form.genro)
@fieldvalue(form, form.retposxtadreso)
@fieldvalue(form, form.tujmesagxilo)
@fieldvalue(form, form.telefonnumero)
@fieldvalue(form, form.lando)
@fieldvalue(form, form.adreso)
@fieldvalue(form, form.studento)
@fieldvalue(form, form.studentoFako)
@fieldvalue(form, form.invitilo)
@fieldvalue(form, form.pasportnumero)
@fieldvalue(form, form.pasportovalideco)
@fieldvalue(form, form.invitiloAdreso)
@fieldvalue(form, form.adresaro)

    <h1>Loĝado</h1>
@fieldvalue(form, form.logxado)
@fieldvalue(form, form.logxadoGea)
@fieldvalue(form, form.logxadoPrefero)
@fieldvalue(form, form.logxadoKun)
@fieldvalue(form, form.cxeesto)
@fieldvalue(form, form.cxeestoElekto)

    <h1>Manĝado</h1>
@fieldvalue(form, form.matenmangxoj)
@fieldvalue(form, form.tagmangxoj)
@fieldvalue(form, form.vespermangxoj)
@fieldvalue(form, form.mangxadoBalo)
@fieldvalue(form, form.matenmangxoPrefero)
@fieldvalue(form, form.mangxtipo)
@fieldvalue(form, form.mangxtipoKlarigo)
@fieldvalue(form, form.mangxtipo2)

<h1>Pagado</h1>
@fieldvalue(form, form.pagado)
@fieldvalue(form, form.donacoKvoto)
@fieldvalue(form, form.donacoKialo)
@fieldvalue(form, form.donacoKialoKlarigo)
@fieldvalue(form, form.kotizo)
@fieldvalue(form, form.miPagos)
@fieldvalue(form, form.miPagosGxis)
@fieldvalue(form, form.miPagosGxisAlt)
@fieldvalue(form, form.komento)

    <h1>Dum la aranĝo</h1>
@fieldvalue(form, form.ludejoKontribuo)
@fieldvalue(form, form.ludiMuzikilon)
@fieldvalue(form, form.kielLudos)
@fieldvalue(form, form.muzikgrupoNomo)
@fieldvalue(form, form.miKunportos)
@fieldvalue(form, form.dejxoriHelpo)
@fieldvalue(form, form.gxeneralaHelpado)
@fieldvalue(form, form.programkontribuo)
    </body>
</html>