@(field: pl.pej.malpompaaligxilo.form.Field[_])(implicit form: pl.pej.malpompaaligxilo.form.Form, lang: pl.pej.malpompaaligxilo.util.Lang)
@import pl.pej.malpompaaligxilo.form.errors.BadDateFormatError
@import pl.pej.malpompaaligxilo.form.errors.NothingSelectedError
@import pl.pej.malpompaaligxilo.form.errors.RequiredError
@import pl.pej.malpompaaligxilo.form.errors.CustomError

<div class="form-group">
    <label for="@field.name" class="col-sm-4 control-label">
        <dl>
            <dt>@field.caption(lang)@if(field.required){<span class="required">&nbsp;*</span>}@if(field.caption(lang).nonEmpty){:}</dt>
            <dd>@if(field.description.nonEmpty){
                <div class="fieldDesc">@field.description.get.apply(lang)</div>
            }</dd>
            @if(form.isFilled && field.validate.nonEmpty){
                <dd class="error">
                @{
                    field.validate.getOrElse("undefined") match {
                        case RequiredError => "tiu ĉi kampo estas deviga"
                        case NothingSelectedError => "nenio estis elektita"
                        case BadDateFormatError => "malkorekta formo de dato"
                        case CustomError(msg) => msg(lang)
                    }
                }
                </dd>
            }
        </dl>
    </label>
    <div class="col-sm-8">
    @pl.pej.malpompaaligxilo.templates.html.field(field)
    </div>
</div>