@(form: pl.pej.malpompaaligxilo.form.Form, field: pl.pej.malpompaaligxilo.form.Field[_])
@import pl.pej.malpompaaligxilo.form.Field
@import pl.pej.malpompaaligxilo.form.field.CalculateField
@import java.text.DecimalFormat
@import pl.pej.malpompaaligxilo.form.field.TableCheckBoxCol
@import pl.pej.malpompaaligxilo.form.field.TableCheckBoxRow
@import pl.pej.malpompaaligxilo.form.field.EnumOption

@if(field.visible(form)) {
    <strong>@field.caption("eo")</strong>: @{field match {
        case Field(_, _, CalculateField(formula), _, _, _, _, _, _) =>
            formula(form) match {
                case d: Double => new DecimalFormat("#.##").format(d)
                case x => Html(x.toString)
            }
        case _ => form.getFieldValue(field).getOrElse("") match {
            case d: Double => new DecimalFormat("#.##").format(d)
            case true => "jes"
            case false => "ne"
            case EnumOption(_, caption) => caption("eo")
            case s:Set[(TableCheckBoxRow, TableCheckBoxCol)] => {
                if (s.isEmpty) {
                    "[nenio]"
                } else {
                    s.map{
                        case (r, c) => r.caption("eo") + " " + c.caption("eo")
                    }.mkString(", ")
                }
            }
            case x => x.toString
        }
    }}
    <br/>
}