@(field: pl.pej.malpompaaligxilo.form.Field[_])(implicit form: pl.pej.malpompaaligxilo.form.Form)
@import pl.pej.malpompaaligxilo.form.field.EnumOption
@import pl.pej.malpompaaligxilo.form.field.SelectField
@import pl.pej.malpompaaligxilo.form.errors.BadDateFormatError
@import pl.pej.malpompaaligxilo.form.errors.NothingSelectedError
@import pl.pej.malpompaaligxilo.form.errors.RequiredError
@import pl.pej.malpompaaligxilo.form.errors.CustomError

<div class="form-group">
    <label for="@field.name" class="col-sm-4 control-label">
        <dl>
            <dt>@field.caption("eo") | @field.caption("pl")@if(field.required){<span class="required"> *</span>}@if(field.caption("eo").nonEmpty){:}</dt>
            <dd>@if(field.description.nonEmpty){
                <div class="fieldDesc">@field.description.get.apply("eo")<br>@field.description.get.apply("pl")</div>
            }</dd>
            @if(form.isFilled && field.validate.nonEmpty){
                <dd class="error">
                @{
                    field.validate.getOrElse("undefined") match {
                        case RequiredError => "Tiu ĉi kampo estas deviga | Pole jest obowiązkowe"
                        case NothingSelectedError => "Nenio estis elektita | Nic nie zostało wybrane"
                        case BadDateFormatError => "Malĝusta formato de dato | Zły format daty"
                        case CustomError(msg) => msg("eo") + " | " + msg("pl")
                    }
                }
                </dd>
            }
        </dl>
    </label>
    <div class="col-sm-8">
    @{
        field.`type` match {
            case s@SelectField(_, size, _) =>

                <select name={field.name} size={size.toString}
                class="form-control">{
                s.allOptions.map{ option =>
                    <option
                    value={option.value}
                    selected={
                    field.value match {
                        case Some(EnumOption(fval, _)) if fval == option.value => "selected"
                        case _ => null
                    }
                    }
                    >{option.caption("eo") + " | " + option.caption("pl")}</option>
                }.toSeq
                }</select>
            case _ => pl.pej.malpompaaligxilo.templates.html.field(field)
        }
    }
    </div>
</div>